/* [ CARD ITEM SECTION ]
================================================>  */
.card-item {
  height: 21rem;
  position: relative;
}
.card-item .item-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.card-item .card-img {
  height: 180px;
  position: relative;
}
.card-item .card-img img {
  object-fit: cover;
}
.card-item .card-img .favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 22px;
  z-index: 1;
  cursor: pointer;
}
.card-item .card-img .agent,
.card-item .card-img .complex {
  background-color: var(--main-color);
  padding: 4px 6px;
  border-radius: 7px;
  font-size: 14px;
  color: #fff;
}
.card-item .card-img .complex {
  background-color: #4264fd;
}
.card-item .card-img .card-status,
.card-item .card-img .card-position {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  border-radius: 7px;
  font-size: 14px;
  color: #fff;
  display: flex;
}
.card-item .card-img .card-position {
  left: 10px;
}
.card-item .card-img .card-status {
  right: 10px;
  background-color: #fff;
  padding: 4px 6px;
}
.card-item .card-img .card-status img {
  width: 19px;
  margin-right: 5px;
}
.card-item .card-img .card-status img:nth-last-child(1) {
  margin-right: 0px;
}
.card-item .sticker-list {
  display: flex;
  list-style: disc;
  margin-bottom: 0;
  padding-left: 0;
}
.card-item .sticker-list li {
  margin-right: 23px;
  font-size: 15px;
}
.card-item .sticker-list li:nth-child(1) {
  list-style: none;
}
.card-item .sticker-list li:nth-last-child(1) {
  margin-right: 0px;
}
.card-item .card-footer {
  background-color: #fff;
  border-top: none;
  padding-top: 0;
}
